/* .tbl-list{

}
.tbl-list table{
    border:1px solid #f00;
}
.tbl-list colgroup{

}
.tbl-list col{

}
.tbl-list .col1{
    width:20%;
}
.tbl-list .col2{
    width:auto;
}
.tbl-list .col3{
    width:20%;
}
.tbl-list thead{

}
.tbl-list thead th{
    padding:8px 5px;
    border:1px solid #f00;
    background:#999;
}

.tbl-list tbody{

}
.tbl-list tbody td{
    padding:8px 5px;
    border:1px solid #f00;
    text-align:center;
}
.tbl-list tbody td a{
    display:block;
    overflow:hidden;
    max-width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align:left;
}

@media (max-width:1024px){
    .tbl-list thead th:nth-child(1){
        display:none;
    }
    .tbl-list tbody td:nth-child(1){
        display:none;
    }
    .tbl-list .col1{
        display:none;
    }
} */

/* 내용 반응형 구조 */
.tbl-view{
    width:1000px;
    margin:0 auto;
}
.tbl-view dl{
    display:table;
    width:100%;
    border:1px solid #00f;
}
.tbl-view dl:first-child{
    border-bottom:0;
}
.tbl-view dt{
    display:table-cell;
    width:80px;
    padding:10px;
    border:1px solid #00f;
    border-right:0;
    border-bottom:0;
}
.tbl-view dd{
    display:table-cell;
    width:auto;
    padding:10px;
    border:1px solid #00f;
    border-right:0;
    border-bottom:0;
}
@media (max-width:768px){
    .tbl-view{
        width:100%;
        padding:0 15px;
    }
    .tbl-view dl,.tbl-view dt,.tbl-view dd{
        border:0;
    }
    .tbl-view dl{
        display:block;
        width:100%;
    }
    .tbl-view dl:first-child dt{
        display:none;
    }
    .tbl-view dl:first-child dd{
        overflow:hidden;
        width:100%;
        padding:8px 5px;
        /* white-space:nowrap;
        text-overflow:ellipsis; */
        /* word-wrap:break-word; */
        word-break:break-all;
        color:#000;
        font-size:18px;
        font-weight:600;
    }
    .tbl-view dt{
        display:inline-block;
        width:auto;
        padding:0;
        color:#666;
        font-size:13px;
        font-weight:600;
    }
    .tbl-view dd{
        display:inline-block;
        width:auto;
        padding:0;
        color:#666;
        font-size:13px;
    }
    .tbl-view dt + dd + dt{
        margin-left:20px;
    }
    .tbl-view .subject{
        padding:10px 0;
        border-top:2px solid #000;
    }
}
